<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>계좌 개설</title>
</head>
<body>
<form action="/accontAddAction" method="post">
			<input type="hidden" name="userId" th:value="${session.loginUser.userId}">
			계좌이름
			<input type="text" name="accountName">
		
			예치금
			<input type="text" name="accountDeposit" value="1000000" readonly="readonly">
		
		개설지점
		
			<select name="branchNo">
				<option th:each="b : ${branchList}" th:value="${b.branchNo}" th:text="${b.branchName}"></option>	
			</select>

<input type="submit" value="계좌계설">
</form>
</body>
</html>