<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.model.mapper.AccountMapper">
	<!-- 계좌개설 -->
	<insert id="insertAccount"
		parameterType="kr.or.ksmart.model.vo.Account">
		INSERT INTO account(
		account_no
		,user_id
		,account_name 
		,account_deposit
		,account_open_branch
		,account_manager)
		VALUES(
		((CONCAT(
			<!-- 지점 코드 날짜 랜덤숫자 조합을 합하기 -->
			#{branchNo}
			,'-'
			<!-- 날짜 중 시간 분 초 만 추출 한다// 오전 일경우 첫번째 자리 숫자가 0 이라서 1000000 더해줌 -->
			,((EXTRACT(HOUR_SECOND FROM now())+100000))
			,'-'
			<!-- 3자리 랜덤숫자 추출 -->
			,(CAST((RAND()*899)+100 AS SIGNED)) 
				) ))
		,#{userId}
		,#{accountName}
		,#{accountDeposit}
		,#{accountOpenBranch}
		,#{accountManager})
	</insert>
	<!-- 주문 -->
	<select id="selectAccount"
	parameterType="String"
	resultType="kr.or.ksmart.model.vo.Account">
	SELECT 
		account_no as accountNo
		,user_id as userId
		,account_name as accountName
		,account_deposit as accountDeposit
		,account_open_branch as accountOpenBranch
		,account_manager as accountManager
	 FROM account
	 WHERE user_id=#{userId}
	</select>
</mapper>