<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.model.mapper.BranchMapper">
<select id="selectBranch"
	parameterType="kr.or.ksmart.model.vo.Branch" 
	resultType="kr.or.ksmart.model.vo.Branch">
			SELECT 
				branch_no as branchNO, 
				branch_name as branchName, 
				branch_manager as branchManager 
			FROM branch 
			WHERE branch_no= #{branchNO}
</select>
<select id="allSelectBranch"
	resultType="kr.or.ksmart.model.vo.Branch">
			SELECT 
				branch_no as branchNO, 
				branch_name as branchName, 
				branch_manager as branchManager 
			FROM branch 			
</select>


</mapper>